In [123]:
%load_ext sql

%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: root@mysql'

PROBLEM 1

In [124]:
import re

In [125]:
locusfile = open("LocusGene.tsv", "r")
germplasmfile = open ("Germplasm.tsv", "r")
print (locusfile)
print (germplasmfile)

<_io.TextIOWrapper name='LocusGene.tsv' mode='r' encoding='UTF-8'>
<_io.TextIOWrapper name='Germplasm.tsv' mode='r' encoding='UTF-8'>

In [126]:
locusfile = open("LocusGene.tsv", "r")
germplasmfile = open ("Germplasm.tsv", "r")

for line in locusfile.readlines():
    Locus1, Gene, Proteinlength = line.split('\t')
    print (Locus1)
    
for line in germplasmfile.readlines():
    Locus2, germplasm, phenotype, pubmed = line.split('\t')
    print (Locus2)

locusfile = open("LocusGene.tsv", "r")
germplasmfile = open ("Germplasm.tsv", "r")

for line in locusfile.readlines():
    for line in germplasmfile.readlines():
        if Locus1 == Locus2:
            print ("SAME\n", Locus1, Locus2)
        else:
            print ("DIFF\n", Locus1, Locus2)

Locus
AT1G01040
AT1G01060
AT1G01140
AT1G01220
AT2G03720
AT2G03800
AT2G04240
AT2G05210
AT3G02130
AT3G02140
AT3G02230
AT3G02260
AT3G02310
AT3G02680
AT3G02850
AT3G02870
AT3G03260
AT4G14790
AT4G15210
AT4G15560
AT4G15570
AT4G15802
AT4G15880
AT4G16420
AT4G16480
AT5G10480
AT5G10510
AT5G11110
AT5G11260
AT5G11510
AT5G12200
AT5G13290
Locus
AT1G01040
AT1G01060
AT1G01140
AT1G01220
AT2G03720
AT2G03800
AT2G04240
AT2G05210
AT3G02130
AT3G02140
AT3G02230
AT3G02260
AT3G02310
AT3G02680
AT3G02850
AT3G02870
AT3G03260
AT4G14790
AT4G15210
AT4G15560
AT4G15570
AT4G15802
AT4G15880
AT4G16420
AT4G16480
AT5G10480
AT5G10510
AT5G11110
AT5G11260
AT5G11510
AT5G12200
AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290
SAME
 AT5G13290 AT5G13290

In [127]:
locusfile.close() 
germplasmfile.close()

PROBLEM 2

In [133]:
%sql Create Database Mydatabase;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[]

In [134]:
%sql use Mydatabase;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [135]:
%sql CREATE TABLE Gene(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, Locus VARCHAR(20) NOT NULL, Gene VARCHAR(20) NOT NULL, Protein_length INTEGER NOT NULL);
%sql DESCRIBE Gene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('Locus', 'varchar(20)', 'NO', '', None, ''),
 ('Gene', 'varchar(20)', 'NO', '', None, ''),
 ('Protein_length', 'int(11)', 'NO', '', None, '')]

In [136]:
%sql create table Germplasm (id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, Locus VARCHAR(20) NOT NULL, Phenotype VARCHAR(100) NOT NULL, Pubmed INTEGER NOT NULL, Locus_id INTEGER NOT NULL);
%sql DESCRIBE Germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('Locus', 'varchar(20)', 'NO', '', None, ''),
 ('Phenotype', 'varchar(100)', 'NO', '', None, ''),
 ('Pubmed', 'int(11)', 'NO', '', None, ''),
 ('Locus_id', 'int(11)', 'NO', '', None, '')]

In [137]:
%sql show tables

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[('Gene',), ('Germplasm',)]

PROBLEM 3

In [138]:
locusfile = open("LocusGene.tsv", "r")
germplasmfile = open ("Germplasm.tsv", "r")

for line in locusfile.readlines():
    Locus1, Gene, Proteinlength = line.split('\t')
    print (Locus1, Gene, Proteinlength)

Locus Gene ProteinLength

AT1G01040 DCL1 332

AT1G01060 LHY 290

AT1G01140 CIPK9 223

AT1G01220 FKGP 190

AT2G03720 MRH6 189

AT2G03800 GEK1 196

AT2G04240 XERICO 256

AT2G05210 POT1A 221

AT3G02130 RPK2 284

AT3G02140 TMAC2 300

AT3G02230 RGP1 301

AT3G02260 BIG 279

AT3G02310 SEP2 175

AT3G02680 NBS1 190

AT3G02850 SKOR 234

AT3G02870 VTC4 311

AT3G03260 HDG8 194

AT4G14790 SUV3 312

AT4G15210 BAM5 313

AT4G15560 DXS 219

AT4G15570 MAA3 294

AT4G15802 HSBP 254

AT4G15880 ESD4 265

AT4G16420 ADA2B 279

AT4G16480 INT4 284

AT5G10480 PAS2 301

AT5G10510 AIL6 310

AT5G11110 SPS2 232

AT5G11260 HY5 221

AT5G11510 MYB3R-4 336

AT5G12200 PYD2 310

AT5G13290 CRN 189

In [139]:
%sql INSERT INTO Gene (Locus, Gene, Protein_length) VALUES ("AT1G01040", "DCL1", 332);

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[]

In [141]:
%sql SELECT * FROM Gene;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(1, 'AT1G01040', 'DCL1', 332)]

PROBLEM 4